body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0%;
  box-sizing: border-box;
  scrollbar-width: none; 
  background-color: #fcf5f5;
}

body::-webkit-scrollbar{ 
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3,h4,h5,p{
  margin: 0;
}